<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>serp-sample.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9A481B17096EAA7F0DD218D44DF5C780245682FE</string>
				<key>dateExpires</key>
				<string>2022/06/17</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>39NM5WWXSW.com.webcash.serpSampleEnt</string>
				<key>com.apple.developer.team-identifier</key>
				<string>DL7DPUW7R9</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>39NM5WWXSW.com.webcash.serpSampleEnt</string>
				</array>
			</dict>
			<key>name</key>
			<string>경리나라 고객조회.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b56a030b-f750-4d22-8e47-840f935c833f</string>
				<key>name</key>
				<string>serp sample ent</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>DL7DPUW7R9</string>
				<key>name</key>
				<string>Webcash</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
